/*selector - start*/
#mn_page_selectors{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}
#mn_page_selectors button{
    padding: 15px 0px;
    border: 0;
    width: 175px;
    transition: 0.25s;
}
.mn_page_selector:hover, .mn_page_selector.current{
    background-color: #d92a2d;
    color: white;
}
#mn_page_selectors button p{
    margin: 0;
}
#mn_page_selectors button i{
    display: none;
}
/*selector - end*/

/*pages - start*/
#mng_slider_holder{
    width: 100%;
    overflow-x: hidden;
}
#mn_slider{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    touch-action: pan-y;
}
#mn_slider.touch_interacting, #mn_slider.touch_interacting.mn_slide{
    user-select: none;
}
.mn_slide{
    min-width: calc(100% - 25px);
    width: calc(100% - 25px);
    padding-left: 12.5px;
    padding-right: 12.5px;
    min-height: 500px;
    touch-action: pan-y;
    user-select: none;
}

.mn_slide h3{
    text-align: center;
    display: none;
}

.new_element{
    margin-left: -10px;
    margin-right: -10px;
    background-color: #f3f3f3;
}
.ne_header{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ne_header i{
    rotate: 180deg;
    transition: 0.5s;
}
.ne_header.on i{
    rotate: 0deg;
}
.ne_content_holder{
    height: 0;
    overflow: hidden;
}
.ne_content{
    padding: 12.5px;
    width: calc(100% - 25px);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 12.5px;
}
.doubled_input, .singled_input, .tripled_input{
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    border: 0;
}
.tripled_input{
    width: calc(33.33333% - 25px/3);
}
.doubled_input{
    width: calc(50% - 12.5px/2);
}
.singled_input{
    width: 100%;
}
/*pages - end*/

/*bigger tablet styling*/
@media(max-width:1025px){
}

/*big tablet styling*/
@media(max-width:825px){  
}

/*regular tablet styling*/
@media(max-width:775px){
}

/*small tablet styling*/
@media(max-width:625px){
    #manager{
    padding-top: 10vh;
    }
}

/*big phone styling*/
@media(max-width:450px){
    /*selector - start*/
    #mn_page_selectors{
        flex-wrap: wrap;
        justify-content: center;
    }
    #mn_page_selectors button{
        padding: 15px;
        width: fit-content;
    }
    #mn_page_selectors button p{
        display: none;
    }
    #mn_page_selectors button i{
        display: block;
        font-size: 32.5px;
    }
    /*selector - end*/

    /*pages - start*/
    .mn_slide h3{
        display: block;
    }
    .doubled_input, .singled_input, .tripled_input{
        width: 100%;
    }
    /*pages - end*/
}

/*small phone styling*/
@media(max-width:400px){
    #manager{
    padding-top: 12.5vh;
    }
}

/*very narrow phones*/
@media(max-width:300px){
    /*selector - start*/
    #mn_page_selectors button i{
        display: block;
        font-size: 23.5px;
    }
    /*selector - end*/
}